.active-page {
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebarDropdownHeader {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
}
