.active-page {
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebarDropdownHeader {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
}

.card[aria-expanded="true"] .down-arrow {
  transform: rotate(-180deg);
}

.bottom-shadow {
  box-shadow: 0 4px 2px -2px gray;
}
